<!-- 评论 -->
<div id="comments-template" xmlns:th="http://www.thymeleaf.org">
    <div class="comments-container comments-root-container">
        <div>
            <h3 class="comments-header-container alert alert-info">
                <i class="fa fa-comments"></i>
                欢迎留言
                [[${comments.total}]]条评论
            </h3>
        </div>
        <div  th:include="common/commentReply :: commentReplyFragment(articleId=${info.id},parentId=null)"></div>
        <div>
            <ul class="comments-comments-container comment-list" id="comment-list">
                <li th:each="item:${comments.getRecords()}">
                    <article class="comment-body" >
                        <footer class="comment-meta">
                            <div class="comment-author vcard">
                                <img th:src="'https://secure.gravatar.com/avatar/'+${item.emailMd5}+'?s=44'">
                                <b class="fn" th:text="${item.author}"></b>
                                <span class="says">说：</span>
                            </div>
                            <div class="comment-metadata">
                                <a> <time th:datetime="${item.createTime}"th:text="${#dates.format(item.createTime,'yyyy年MM月dd日 HH:mm:ss')}"></time></a>
                            </div>
                        </footer>
                        <div class="comment-content">
                            <p th:utext="${item.content}"></p>
                        </div>
                        <div class="reply"><button class="comment-reply-login">回复 </button></div>

                        <div th:include="common/commentReply :: commentReplyFragment(articleId=${info.id},parentId=${item.id})"></div>

                        <article th:unless="${#lists.isEmpty(item.comments)}" th:include="common/commentReply :: commentFragment(replys=${item.comments},authorName=${item.author})"></article>
                    </article>
            </ul>
            <th:block>
                <script th:inline="javascript">


                </script>
            </th:block>
            <!--<th:block th:if="${comments.hasNext()}">
                <button class="btn btn-danger btn-lg btn-block" id="more-comments">点击加载更多...</button>
                <script th:inline="javascript">
                    let current=[[${comments.current}]];
                    let pages=[[${comments.pages}]];
                    let size=[[${comments.size}]];
                    let articleId=[[${info.id}]];
                    $('#more-comments').click(function () {
                        $(this).addClass("disabled");
                        $.post("comment/more", {current:++current, size:size,articleId:articleId},
                            function(data){
                                for (let item of data) {
                                    let li="<li><article class='comment-body'><footer class='comment-meta'><div class='comment-author vcard'><img src='https://secure.gravatar.com/avatar/"+item.emailMd5+"?s=54'/><b class='fn'>"+item.author+"</b>";
                                    if(item.comments.length>0){
                                        li+="回复 <b class='fn'>"+item.comments[0].author+"</b>";
                                    }
                                    li+="<span class='says'>说：</span></div><div class='comment-metadata'>"+item.createTime.replace(/(\d{4})-(\d{2})-(\d{2})T(\d{2}:\d{2}:\d{2}).*/, "$1年$2月$3日 $4")+"</div></footer><div class='comment-content'><p>"+item.content+"</p></div><div class='reply'><a class='comment-reply-login'>回复</a></div></article>";
                                    if(item.comments.length>0){
                                        li+="<article class='comment-body comment-children'>";
                                        for (let i in item.comments){
                                            li+="<footer class='comment-meta'><div class='comment-author vcard'><img src='https://secure.gravatar.com/avatar/"+item.comments[i].emailMd5+"' width='54' height='54'><b class='fn'>"+item.comments[i].author+"</b>";
                                            if(i<item.comments.length){
                                                li+="回复 <b class='fn'>"+item.comments[i+1].author+"</b>";
                                            }
                                            li+="<span class='says'>说：</span></div><div class='comment-metadata'>"+item.createTime.replace(/(\d{4})-(\d{2})-(\d{2})T(\d{2}:\d{2}:\d{2}).*/, "$1年$2月$3日 $4")+"</div></footer><div class='comment-content'><p>"+item.comments[i].content+"</p></div><div class='reply'><a class='comment-reply-link'>回复</a></div></article>";
                                        }
                                    }
                                    li+="</li>";
                                    $('#comment-list').append(li);
                                }
                            });
                        if(pages<=current){
                            $(this).hide();
                        }else{
                            $(this).removeClass("disabled");
                        }
                    })

                    $('.comment-reply-login').click(function(){
                    })
                </script>
            </th:block>-->
        </div>

    </div>
</div>
